<div id="search" class="search-box clearfix" ng-class="{'replace-open': showReplace}" ng-show="showSearch">
    <div class="search-row clearfix">
        <div class="input-group input-group-sm search-input-wrap">
            <input type="text"
                   id="search-input"
                   class="form-control search-input"
                   ng-model="keyword"
                   ng-keydown="handleSearchKeyDown($event)"
                   placeholder="{{ 'search-placeholder' | lang:'ui' }}"
                   aria-describedby="search-result"/>
            <span class="input-group-addon search-addon" id="search-result"
                  ng-show="showTip">{{ curIndex }} / {{ resultNum }}</span>
        </div>
        <div class="btn-group btn-group-sm prev-and-next-btn" role="group">
            <button type="button" class="btn btn-default" ng-click="doSearch(keyword, 'prev')">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="doSearch(keyword, 'next')">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
        <button type="button"
                class="btn btn-default btn-sm replace-toggle"
                ng-class="{'active': showReplace}"
                ng-click="toggleReplace()"
                title="{{ 'replace' | lang:'ui' }}">
            <span class="glyphicon glyphicon-transfer"></span>
        </button>
        <div class="close-search" ng-click="exitSearch()">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </div>

    <div class="replace-row clearfix" ng-show="showReplace">
        <input type="text"
               id="replace-input"
               class="form-control input-sm replace-input"
               ng-model="replacement"
               ng-keydown="handleReplaceKeyDown($event)"
               placeholder="{{ 'replace-placeholder' | lang:'ui' }}"/>
        <div class="btn-group btn-group-sm replace-btns" role="group">
            <button type="button" class="btn btn-default" ng-click="doReplace(false)">{{ 'replace' | lang:'ui' }}</button>
            <button type="button" class="btn btn-default" ng-click="doReplace(true)">{{ 'replace-all' | lang:'ui' }}</button>
        </div>
        <span class="replace-count" ng-show="replacePerformed">{{ replaceCount }} {{ 'replace-count' | lang:'ui' }}</span>
    </div>
</div>
