<div data-component="split-node-dialog" role="document">
    <div class="modal-header" data-slot="header">
        <h3 class="modal-title" id="split-node-dialog-title">{{ (isRoot ? 'root-title' : 'title') | lang: 'ui/dialog/nodeSplit' }}</h3>
    </div>
    <div class="modal-body" data-slot="body">
        <p id="split-node-dialog-description">
            {{ (isRoot ? 'root-description' : 'description') | lang: 'ui/dialog/nodeSplit' }}
        </p>
        <p><strong>{{ nodeText }}</strong></p>
    </div>
    <div class="modal-footer" data-slot="footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            {{ 'cancel' | lang: 'ui/dialog/nodeSplit' }}
        </button>
        <button type="button" class="btn btn-primary" autofocus ng-click="confirm()">
            {{ (isRoot ? 'copy' : 'confirm') | lang: 'ui/dialog/nodeSplit' }}
        </button>
    </div>
</div>
